html,
body {
    margin:0;
    padding: 0;
    background-color: #ffffa6;
    font-family: 'Playfair Display', serif;
}

main {
    width: 100vw;
}

.conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
}

.conteudo h2 {
    font-style: bold;
    font-size: 6rem;
}

.breve {
    font-size: 3rem;
}

.loader {
    border: 16px solid #ffe4b0ff; /* Light grey */
    border-top: 16px solid #FFFF3B; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 550px;
    background-color: rgb(97, 95, 61);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 748%;
    left: 0;
    margin-left: -123px;
    font-size: 1.5rem;
}
  

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media only screen and (max-width: 600px) {
    .conteudo h2{
        font-size: 4rem;
    }

    #loader {
        width: 50px;
        height: 50px;
    }

    .breve {
        font-size: 2rem;
    }

    .popup .popuptext {
        width: 300px;
        font-size: 1rem;
        left: 0;
        margin-left: 0;
    }


}